{% extends "base.html" %}
{% load static %}

{% block nav %}

{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-1 mt-3">
            <h2 class="logo-font">Details</h2>
        </div>
        <div class="col-2 mt-3"></div>
            <h2 class="logo-font">Overview</h2>
            
        </div>
    </div>
    <div class="row">
        <div class="product-container col-5 offset-1 ">
            <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <form action="{% url 'new_workout_details' %}" method="POST" id="workout-form">
                            {% csrf_token %}
                            <fieldset class=" px-3 mb-5">
                                <legend>Type</legend>
                                {{ workout_form.level | as_crispy_field }}
                                {{ workout_form.fitness | as_crispy_field }}
                                {{ workout_form.sport | as_crispy_field }}
                            </fieldset>
                            <fieldset class=" px-3">
                                <legend>Details</legend>
                                {{ workout_form.name | as_crispy_field }}
                                {{ workout_form.description | as_crispy_field }}
                                {{ workout_form.price | as_crispy_field }}
                            </fieldset>

                            <div class="text-center mt-3">
                                <input type="submit" value="Create Workout" class="btn btn-primary">
                            </div>
                            
                        </form>
                    </div>
            </div>
        </div>
        <div class="col-5 offset-1 border-black">
            <div class="row"></div>
                {% if exercises_by_week_days %}
                    {% for week, days in exercises_by_week_days.items %}
                        {% if days %}
                            <div class="col-12 mb-3">
                                <h4>Week {{ week }}</h4>
                            </div>
                            {% for day, exercises in days.items %}
                                {% if exercises %}
                                    <div class="col-12">
                                        <h5>Day {{ day }}</h5>
                                    </div>
                                    {% for exercise in exercises %}
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                                            <div class="card new_workout_container" style="width: 18rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ exercise.exercise.name }}</h5>
                                                    <p class="card-text">{{ exercise.exercise.description }}</p>
                                                    <p class="card-text">Sets: {{ exercise.sets }}</p>
                                                    <p class="card-text">Reps: {{ exercise.reps }}</p>
                                                    <p class="card-text">Day: {{ exercise.day }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif%}
                    {% endfor %}
                {% else %}
                    <div class="container">
                        <p class="center-text">empty workout</p>
                    </div>
                {% endif %}
            </div>
           
        </div>
    </div>
</div>
{% endblock %}