{% extends "base.html" %}
{% load static %}
{% load get_dict_filter %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<style>
    .rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
    .rating input {
      display: none;
    }
    .rating label {
      font-size: 2rem;
      color: #ddd;
      cursor: pointer;
      transition: color 0.3s;
    }
    .rating input:checked ~ label,
    .rating input:checked ~ label ~ label {
      color: #ffc107;
    }
    .rating input:focus ~ label {
      outline: 2px solid #ffc107;
    }
  </style>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mt-5"></div>
    <div class="row justify-content-center ml-3">
        <div class="col-12 col-md-4 my-auto ">
            <h1 class="display-6 logo-font text-black">
                {{ workout.name }}
            </h1>
            <p class="lead text-muted text-black">
                {{ workout.description }}
            </p>
            <div class="row g-0">
                <div class="col mb-0">
                    <h6 class="badge .text-light mb-2 {% if workout.level.name == 'beginner' %}badge-success {% elif workout.level.name == 'intermediate' %}badge-primary {% elif workout.level.name == 'advanced' %}badge-danger {% endif %}">
                        {{ workout.level.name }}
                    </h6>
                    {% if workout.fitness %}
                        <h6 class="badge .text-light mb-2 badge-secondary">{{ workout.fitness.name }}</h6>
                    {% elif workout.sport %}
                        <h6 class="badge .text-light mb-2 badge-info">{{ workout.sport.name }}</h6>
                    {% endif %}
                </div>
            </div>
            {% if workout.rating %}
                <p class="card-text ">{{ workout.rating }}<i class="fas fa-star"></i></p>
            {% else %}
                <p class="card-text text-muted">No rating</i></p>
            {% endif %}

            <div class="mt-auto ml-auto mr-auto"></div>

            <div class="my-5">
                <form action="{% url 'save_workout' workout.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="start-now-button btn btn-lg text-uppercase py-3n">Save</button>
                </form>
                {% if workout.owner.user == request.user %}
                    <div class="">
                        <a href="{% url 'update_workout' workout.id %}" class="btn btn-lg text-uppercase py-3n edit-button mt-1 w-50">Edit</a>
                    </div>
                    
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-4 my-auto text-center">
            {% if workout.sport %}
                {% if workout.fitness %}
                    <h3>{{workout.fitness.friendly_name}} for</h3>
                    
                {% endif %}
                
                <i class="fa-solid fa-6x {% if workout.sport.name == 'boxing' %}fa-hand-fist 
                    {% elif workout.sport.name == 'running' %}fa-person-running 
                    {% elif workout.sport.name == 'climbing' %}fa-hill-rockslide 
                    {% endif %}"></i>
                    <h3 class="muted mt-3">{{ workout.sport.friendly_name }}</h3>
            {% else %}
                <i class="fa-solid fa-dumbbell fa-6x {% if workout.level.name == 'beginner' %}text-success {% elif workout.level.name == 'intermediate' %}text-primary {% elif workout.level.name == 'advanced' %}text-danger {% endif %}"></i>
                <h3 class="muted mt-3">{{ workout.fitness.friendly_name }}</h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col text-center mt-5">
            <a id="details-header" class="logo-font text-black btn" onclick="toggle_details()">Details</a>
        </div>

        <div class="col text-center mt-5">
            <a  id="review-header" class="logo-font text-black btn" onclick="toggle_reviews()">Reviews</a>
        </div>

    </div>

    <hr class="my-4 pb-3">

    <div id="workout_reviews" class="container-fluid mt-3 ml-3 mr-3 pb-5" style="display: none;">
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
                <div class="col-12 text-center">
                    <button id="add-review-btn"class="btn btn-info" onclick="addReview()">Add Review</button>
                </div>
                <div id="review-form" class="col-12 text-center mt-3" style="display: none;">
                    <div class="col-12 text-center">
                        <button class="btn btn-danger" onclick="closeReview()">Cancel</button>
                    </div>
                    <form method="post" action="{% url 'reviews' %}">
                        {% csrf_token %}
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label for="star5" title="5 stars"><i class="fas fa-star"></i></label>
                
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label for="star4" title="4 stars"><i class="fas fa-star"></i></label>
                
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label for="star3" title="3 stars"><i class="fas fa-star"></i></label>
                
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label for="star2" title="2 stars"><i class="fas fa-star"></i></label>
                
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label for="star1" title="1 star"><i class="fas fa-star"></i></label>
                        </div>
                        
                        <div class="form-row justify-content-center">
                            <div class="col-5">
                                <textarea name="description" id="review-description" class="form-control" placeholder="Enter your review here" required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info text-center mt-3">Submit Review</button>
                        <input type="hidden" name="workout_id" value="{{ workout.id }}">
                        
                    </form>
                </div>
            {% endif %}
            
            {% for review in workout_reviews %}
                <div class="col-8 mt-3">
                    <div class="card h-100 text-black card-shadow">
                        <div class="card-body">
                            <a href="{% url 'view_other_profile' review.user.id %}"  class="card-text"><b class="{% if review.user.plan.plan_name == 'Beginner' %} text-info {% endif %}
                                {% if review.user.plan.plan_name == 'Intermediate' %} text-success {% endif %}
                                 {% if review.user.plan.plan_name == 'Advanced' %} text-danger {% endif %}">@{{ review.user.user.username }}</b></a>
                            <p>{{ review.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="workout_details" class="container-fluid mt-3 ml-3 mr-3 pb-5" style="display: none;">
        <div class="row">
            {% if exercises_by_week_days %}
                {% for week, days in exercises_by_week_days.items %}
                    {% if days %}
                        <div class="col-12 text-center mt-3 mb-3">
                            <h2 class="logo-font text-black">Week {{ week }}</h2>
                            {% if workout.week_descriptions|get_item:week %}
                                <p>{{ workout.week_descriptions|get_item:week }}</p>
                            {% endif %}
                        </div>
                        {% for day, exercises in days.items %}
                            {% if exercises %}
                                <div class="row g-3 justify-content-center">
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 mt-3 ml-3">
                                        <div class="card h-100 text-black card-shadow" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Day: {{ day }}</h5>
                                                {% for exercise in exercises %}
                                                    <p class="card-text text-center">{{ exercise.exercise.name }} S: {{ exercise.sets }} R: {{ exercise.reps }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="container">
                    <p class="center-text">empty workout</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('created') && urlParams.get('created') === 'true') {
        console.log("Form successfully submitted!");
        localStorage.clear();
    }
})

function toggle_reviews() {
    // Hide workout details
    document.getElementById('workout_details').style.display = 'none';
    document.getElementById('details-header').style.textDecoration = 'none';
    // Show workout reviews
    document.getElementById('workout_reviews').style.display = 'block';
    document.getElementById('review-header').style.textDecoration = 'underline';
}

function toggle_details() {
    // Hide workout reviews
    document.getElementById('workout_reviews').style.display = 'none';
    document.getElementById('review-header').style.textDecoration = 'none';
    // Show workout details
    document.getElementById('workout_details').style.display = 'block';
    document.getElementById('details-header').style.textDecoration = 'underline';
}

function addReview(){
    document.getElementById('review-form').style.display = 'block';
    document.getElementById('add-review-btn').style.display = 'none';
}
function closeReview(){
    document.getElementById('review-form').style.display = 'none';
    document.getElementById('add-review-btn').style.display = 'inline-block';
}
</script>
{% endblock %}
