{% extends "base.html" %}
{% load static %}




{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container"></div>
    <div class="row justify-content-center ml-3">
        <div class="col-12 col-md-4 my-auto ">
            <h1 class="display-6 logo-font text-black">
                {{ workout.name }}
            </h1>
            <p class="lead text-muted text-black">
                {{ workout.description }}
            </p>
            <div class="row g-0">
                <div class="col mb-0"><h6 class="badge .text-light mb-2  {% if workout.level.name == 'beginner' %}badge-success 
                    {% elif workout.level.name == 'intermediate' %}badge-primary 
                    {% elif workout.level.name == 'advanced' %}badge-danger 
                    {% endif %}">{{ workout.level.name }}</h6>
                    {% if workout.fitness%}
                        <h6 class="badge .text-light mb-2 badge-secondary  ">{{ workout.fitness.name }}</h6>
                    {% elif workout.sport %}
                        <h6 class="badge .text-light mb-2 badge-info   ">{{ workout.sport.name }}</h6>
                    {% endif %}
                </div>
            </div>

            <div class="mt-auto ml-auto mr-auto">
                
            </div>
            <div class="my-5">
                <form action="{% url 'save_workout' workout.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="start-now-button btn btn-lg  text-uppercase py-3n">Save</button>
                </form>
            </div>
        </div>
        <!-- {% if not workout.image %}               -->
        <div class="col-12 col-md-4 my-auto ">
            <!-- <img class="img-fluid" src="" alt="{{ workout.name }}"> -->
            <img src="{% static 'media/temp.svg' %}" alt="Description of image">
        </div>
        <!-- {% endif %} -->
    </div>

    <div id="workout_reviews" class="container-fluid mt-3 ml-3 mr-3 pb-5">
        <div class="row">
        </div>
    </div>
    
    
    <div id="workout_details " class="container-fluid mt-3 ml-3 mr-3 pb-5">
        <div class="row">
            {% if exercises_by_week_days %}
                {% for week, days in exercises_by_week_days.items %}
                    {% if days %}
                        <div class="col-12 text-center mt-3 mb-3">
                            <h2 class="logo-font text-black">Week {{ week }}</h2>
                            {% if workout.week_descriptions|get_item:week  %}
                                <p>{{ workout.week_descriptions|get_item:week }}</p>
                            {% endif %}
                        </div>
                        {% for day, exercises in days.items %}
                            {% if exercises %}
                                <div class="row g-3 justify-content-center">
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 mt-3 ml-3">
                                        <div class="card h-100 text-black card-shadow" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Day:{{ day }}</h5>
                                                {% for exercise in exercises %}
                                                                <p class="card-text text-center">{{ exercise.exercise.name }}   S:{{ exercise.sets }} R:{{ exercise.reps }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            {% else %}
                <div class="container">
                    <p class="center-text">empty workout</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
  

{% endblock %}

{% block postloadjs %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('created') && urlParams.get('created') === 'true') {
                    console.log("Form successfully submitted!");
                    localStorage.clear()
                    
                }
            })
</script>
{% endblock %}