{% extends "base.html" %}
{% load static %}

{% block nav %}
{%  endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container mt-5 mb-5">
    <div class="row  justify-content-between  mt-5">
        <div class="col-12 col-md-4 my-auto card card-shadow">
            <h1 class="display-6 logo-font text-black text-center">
                User created workouts
            </h1>
            <p class="lead text-muted text-black text-center">
                choose between hundereds of custom made workouts for you specific,level,sport or fitness.
            </p>
            <div class="my-5 mt-auto ml-auto mr-auto">
                <h4>
                    <a href="{% url 'workouts' %}" class="start-now-button btn btn-lg  text-uppercase py-3">Workouts</a>
                </h4>
            </div>
        </div>

        <div class="col-12 col-md-4 my-auto  card card-shadow bg-black">
            <h1 class="display-6 logo-font text-white text-center">
                Create your own workout
            </h1>
            <p class="lead text-muted text-white text-center">
                Build your own workout from our library of hundreds of exercises. publish them to the community and recieve feedback
            </p>
            <div class="my-5 mt-auto ml-auto mr-auto">
                <h4>
                    <a href="{% url 'create_workout' %}" class="start-now-button btn btn-lg bg-white text-black text-uppercase py-3">Create workout</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">

    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font text-black">Hundereds of exercise guides</h2>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for exercise_group in grouped_exercises %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="row">
                            {% for exercise in exercise_group %}
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
                                    <div class="card card-shadow h-100 text-black">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ exercise.name }}</h5>
                                            <p class="card-text">{{ exercise.description }}</p>
                                            <div class="mt-auto ml-auto mr-auto">
                                                <a href="{% url 'exercise_details' exercise.id %}" class="btn btn-black">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

              
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col text-center mt-5">
        <h2 class="logo-font text-black">Payment Plans</h2>
    </div>
</div>

<div class="container">
    <div class="row g-3 justify-content-center mt-5 pb-5">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card workout-card h-100 text-black" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Monthly Subscription</h5>
                    <!-- Center the icon and make it large -->
                    <div class="icon-container d-flex justify-content-center align-items-center my-3">
                        <i class="fa-solid fa-shield fa-3x text-danger"></i>
                    </div>
                    <p class="card-text text-center">£{{ MONTHLY_PAYMENT }}</p>
                    <div class="mt-auto ml-auto mr-auto">
                        <a href="" class="btn btn-black">Open</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card workout-card h-100 text-black" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Yearly payment</h5>
                    <!-- Center the icon and make it large -->
                    <div class="icon-container d-flex justify-content-center align-items-center my-3">
                        <i class="fa-solid fa-shield fa-3x text-info"></i>
                    </div>
                    <p class="card-text text-center">£{{YEARLY_PAYMENT}} </p>
                    <p class="card-text text-info text-center"><strong>75% cheaper</strong> </p>
                    <div class="mt-auto ml-auto mr-auto">
                        <a href="" class="btn btn-black">Open</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card workout-card h-100 text-black" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">One time payment</h5>
                    <!-- Center the icon and make it large -->
                    <div class="icon-container d-flex justify-content-center align-items-center my-3">
                        <i class="fa-solid fa-shield fa-3x text-success"></i>
                    </div>
                    <p class="card-text text-center">£{{ONE_TIME_PAYMENT}} </p>
                    <p class="card-text text-success text-center"><strong>One time </strong> </p>
                    <div class="mt-auto ml-auto mr-auto">
                        <a href="" class="btn btn-black">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

{% endblock %}