html {
    height: 100%;
}

body {
    background: url('/static/media/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.navbar-nav {
    justify-content: center;  /* Center items within the navbar */
    flex-grow: 1;            /* Allow the nav to take available space */
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header-container {
    padding-top: 164px;
}

.logo-font {
    text-transform: uppercase;
}

.start-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.start-now-button:hover,
.start-now-button:active,
.start-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}
.bg-black{
    background-color: black;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.workout-card{
    box-shadow: 10px 10px 5px grey;
}

.card-shadow{
    box-shadow: 10px 10px 5px grey;
}

.text-green {
    color: rgb(91, 183, 91) !important; /* Use with caution */
}

.text-blue {
    color: rgb(88, 88, 169) !important; /* Use with caution */
}

.text-red {
    color: rgb(194, 88, 88) !important; /* Use with caution */
}

.btn-radio {
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #000; /* Black border */
    background-color: #000; /* Initial background */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Make labels act like buttons */
}

input[type="radio"] {
    display: none; /* Hide the radio input */
}


.btn-radio.selected {
    background-color: white; /* Change to white when selected */
    color: black; /* Text color when selected */
    border-color: #000; /* Border color when selected */
}
