<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto"> <!-- Centered the nav items -->
        <div class="col-lg-3 col-12 my-auto py-1 py-lg-0 ml-3 d-block d-md-none">
            <div class="row">
                <div class="col">
                    <h2 class="text-black"> <a href="{% url 'workouts_home' %}" class="text-decoration-none text-reset">Workouts</a></h1>
                </div>
                <div class="col">
                    <h2 class="text-black"> <a href="{% url 'exercises_home' %}" class="text-decoration-none text-reset">Exercises</a></h1>
                </div>
            </div>
        </div>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body part
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="difficulty">
                {% for bodypart in body_parts %}
                    <a href="{% url 'view_exercises' %}?bodypart={{ bodypart.name }}" class="dropdown-item">{{ bodypart.name }}</a>
                {% endfor %}
                <a href="{% url 'view_exercises' %}" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>

