<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Workouts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Difficulty</a>
                <a href="{% url 'workouts' %}" class="dropdown-item">All Workouts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fitness-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fitness-link">
                <a href="{% url 'workouts' %}?fitness=body_building" class="dropdown-item">Body building</a>
                <a href="{% url 'workouts' %}?fitness=power_lifting" class="dropdown-item">Power lifting</a>
                <a href="{% url 'workouts' %}?fitness=functional_fitness" class="dropdown-item">Functional</a>
                <a href="{% url 'workouts' %}?fitness=rehabilitation" class="dropdown-item">Rehab</a>
                <a href="{% url 'workouts' %}?fitness=rehabilitation,body_building,power_lifting,functional_fitness,rehabilitation" class="dropdown-item">All Fitness</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sport-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sport
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sport-link">
                <a href="{% url 'workouts' %}?sport=running" class="dropdown-item">Running</a>
                <a href="{% url 'workouts' %}?sport=boxing" class="dropdown-item">boxing</a>
                <a href="{% url 'workouts' %}?sport=climbing" class="dropdown-item">Climbing</a>
                <a href="{% url 'workouts' %}?sport=running,boxing,climbing" class="dropdown-item">All Sports</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Difficulty
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="difficulty">
                <a href="{% url 'workouts' %}?level=beginner" class="dropdown-item">Beginner</a>
                <a href="{% url 'workouts' %}?level=intermediate" class="dropdown-item">Intermediate</a>
                <a href="{% url 'workouts' %}?level=advanced" class="dropdown-item">Advanced</a>
            </div>
        </li>
    </ul>
</div>