<div class="collapse navbar-collapse d-flex justify-content-center" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Body part
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="difficulty">
                {% for bodypart in body_parts %}
                    <a href="{% url 'create_workout' %}?bodypart={{ bodypart.name }}" class="dropdown-item">{{ bodypart.name }}</a>
                {% endfor %}
                <a href="{% url 'create_workout' %}" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>