{% extends "base.html" %}
{% load static %}
{% load get_dict_filter %}

{% block nav %}
    {% include 'exercises/includes/exercises-main-nav.html' %}
    {% include 'exercises/includes/exercises-mobile-top-header.html' %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container"></div>
    <div class="row justify-content-center ml-3 pb-5">
        <div class="col-12 col-md-4 my-auto ">
            <h1 class="display-6 logo-font text-black">
                {{ exercise.name }}
            </h1>
            <p class="lead text-muted text-black">
                {{ exercise.description }}
            </p>
            <div class="row g-0">
                <div class="col">
                    {% for muscle in exercise.main_muscles.all %}
                        <h6 class="badge text-light mb-2 badge-info">{{ muscle.name }}</h6>
                    {% endfor %}
                    {% for muscle in exercise.secondary_muscles.all %}
                        <h6 class="badge text-light mb-2 badge-secondary">{{ muscle.name }}</h6>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        {% if  exercise.image_url %}    
            <div class="col-12 col-md-4 my-auto ">
                <img class="img-fluid" src="{{exercise.image_url}}" alt="{{ exercise.name }}">
            </div>
        {% else %}
            <div class="col-12 col-md-4 my-auto ">
                <img src="{% static 'media/temp.svg' %}" alt="Description of image">
                
            </div>
        {% endif %}
    </div>

    <div class="row justify-content-center mt-5 pb-5">
        <div class="col-12 col-md-4">
            <h2 class="logo-font text-black mb-5">Exercise Guide</h2>
            <h3>Starting Position</h3>
            <p>{{exercise.starting_position}}</p>
            <h3>Execution</h3>
            <p>{{exercise.execution}}</p>
            <h3>Tips</h3>
            <p>{{exercise.tips}}</p>
        </div>
        <div class="col-12 col-md-2 offset-md-1">
            <h3>Equiptment needed</h3>
            <p>{{exercise.equipment}}</p>
            <h3>Primary muscles</h3>
            <p>{% for muscle in exercise.main_muscles.all %}
                {{ muscle.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                None
            {% endfor %}</p>
            <h3>Seconadry muscles</h3>
            <p>{% for muscle in exercise.secondary_muscles.all %}
                {{ muscle.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                None
            {% endfor %}</p>
            
        </div>
    </div>
    

{% endblock %}